body {
  background-color: #121526;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 85vh; */
  margin-top: 10rem;
}

.capsule-information {
  max-width: 1000px;
  padding: 0 25px;
}

.intro-image-container {
  display: flex;
  gap: 30px;
}

.intro-img {
  background: #0b0d18;
  padding: 20px 15px 35px 15px;
}

p.desc-text {
  font-size: 19px;
  font-weight: 400;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.specs-header {
  display: flex;
  justify-content: space-between;
}

.specs-header h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

ul.specs-list {
  padding: 0 !important;
  display: flex;
  gap: 20px;
}

/* .capsule-information > div {
  position: relative;
} */
.coffee-specs {
  background-color: #0b0d18;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.coffee-specs h3 {
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 34px;
}

.intro-text h2 {
  font-weight: normal;
}

.intro-text p {
  font-weight: bold;
}

.coffee-specs ul {
  list-style-type: none;
  letter-spacing: 3px;
}

#fetched-data div {
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.waves .wave {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1600 198' style='enable-background:new 0 0 1600 198;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='320.6993' y1='377.5869' x2='320.7004' y2='378.692' gradientTransform='matrix(-1600 0 0 -198.0004 513920 75060.1484)'%3E%3Cstop offset='1.805556e-02' style='stop-color:%233141BE'/%3E%3Cstop offset='0.4847' style='stop-color:%235F5BD5'/%3E%3Cstop offset='0.8708' style='stop-color:%238545C5'/%3E%3Cstop offset='0.9917' style='stop-color:%239A39BC'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M1600,121c-121.2,0-257-32.4-347-31c-130,2-195.2,62.8-440,63C636,153,536,41,417,41c-98,0-255.9,80-417,80v77 h1600C1600,198,1600,150,1600,121z'/%3E%3C/svg%3E%0A");
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: moveWave 10s linear infinite;
}

@keyframes moveWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@media (max-width: 768px) {
  .intro-image-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .intro-img {
    text-align: center;
  }
  .waves {
    margin-top: 50px;
  }
  .waves .wave {
    position: relative;
  }
}
@media (max-width: 452px) {
  .desc-text {
    display: none;
  }
  .intro-img {
    background: none;
  }
  .coffee-specs {
    background-color: rgba(11, 13, 24, 0.5);
    position: relative;
    z-index: 2;
  }
  .waves {
    position: relative;
    z-index: 1;
  }
  .waves .wave {
    position: absolute;
  }
  .intro-text, .intro-text p {
    text-align: center;
  }
  .intro-text h2 {
    text-align: left;
    padding-left: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
